include ./components/_index
include ./mixins/_index

doctype html
html(lang="en")
    head
        +meta-data("Khaled Mohamed")

        +meta-desc("Just a description for Manage Landing Page project as landing page!")

        +meta-words("HTML, PugJS, CSS, SCSS, PostCSS, UI Development Challenge, Inter2Grow")
        +meta-theme("#997825")

        link(rel="shortcut icon" href="./public/assets/favicons/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="./public/assets/favicons/site.webmanifest")

        +space()

        title First Challenge | Inter2Grow Internship

        +space()

        link(rel="stylesheet" href="./public/index.css")

    body 
        main(class="main" id="main")
            section(class="left")
                p(class="left__title") Work with us
                
                p(class="left__desc")
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Morbi lobortis maximus nunc, ac rhoncus odio congue quis.
                    | Sed ac semper orci, eu porttitor lacus.

            section(class="right")
                span(class="right__sign-up")
                    | Don't have have an account? 
                    a(href="#") Sign up

                div(class="right__content")
                    div(class="right__content__social")
                        span(class="right__content__social__title") Welcome back!

                        div(class="right__content__social__btn-group")
                            a(href="#" class="btn br right__content__social__google")
                                +google()
                                | Continue with Google
                            a(href="#" class="btn br right__content__social__twitter")
                                +twitter()
                                | Continue with Twitter

                    div(class="right__content__or")
                        span(class="right__content__or__text") or

                    form(class="right__content__form")
                        div(class="right__content__form__email")
                            div(class="right__content__form__header")
                                label(for="email") Enter your email address
                            input#email-address(type="email" name="email")

                        div(class="right__content__form__password")
                            div(class="right__content__form__header")
                                label(for="password") Enter your password
                                span(class="hide") hide
                            input#password(type="password" name="password")

                        div(class="right__content__form__footer")
                            a(href="#" class="right__content__form__forget-left") Forget your password

                            div(class="right__content__form__footer-right")
                                input#sign-in(type="submit" value="sign-in")

                                a(href="#")
                                    | Don’t have an account?
                                    span(class="sign-up") Sign up

        +no-script()